<div class="container mb-4"> 
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-4 mt-4 mb-4">
          <div class="card" style="width:200px">
            <img class="card-img-top fakeimg" src="{{url_for('static' ,filename='images/john_doe.jpg')}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-primary">John Doe</h4>
              <p class="card-text">Senior Full Stack Web Developer.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        <!-- End of first block -->
        </div>
        <h3 class="mt-4 text-secondary">Related Topics</h3>
        <div class="col-sm-8 mt-4">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link " href="#">How to use this api</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Become an affaliate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Become a donor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Q and A's </a>
            </li>
          </ul>
        </div>
      </div>