<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--Bootstrap imports-->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/font/bootstrap-icons.css">
    <style>
      .fakeimg {
        height: 200px;
        background: #aaa;
        padding: 10px;
      }
      </style>
</head>
<body>  